/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

select:focus {
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .container {
    padding: 0 39px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 60px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.mb-10 {
  margin-bottom: 80px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-10 {
  padding-bottom: 80px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 60px;
}

.pl-4 {
  padding-left: 32px;
}

.pr-4 {
  padding-right: 32px;
}

.h1 {
  font-size: 72px;
  color: #AA0601;
  font-weight: bold;
}

.h2 {
  font-size: 64px;
  color: #650300;
  font-weight: bold;
}

.h3 {
  font-size: 48px;
  color: #650300;
  font-weight: bold;
}

.h4 {
  font-size: 32px;
  color: #650300;
}

.h5 {
  font-size: 24px;
  color: #650300;
  font-weight: bold;
}

.small-font {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

/* nav */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #AA0601;
  color: #fff;
  padding: 0 88px;
}

@media (max-width: 992px) {
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
  }
}

.logo {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png") no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  width: 80px;
  display: block;
}

@media (max-width: 767px) {
  .logo {
    text-align: center;
    margin: 10px auto;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .menu {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .menu li {
    width: 50%;
    border-top: 1px solid #fff;
  }
  .menu li:first-child, .menu li:nth-child(3) {
    border-right: 1px solid #fff;
  }
}

.menu li a {
  color: #fff;
  display: block;
}

.menu li a:hover {
  background: #650300;
}

@media (max-width: 992px) {
  .menu li a {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .menu li a {
    text-align: center;
    padding: 8px 0;
  }
}

/* footer */
.footer {
  padding-top: 32px;
  padding-bottom: 40px;
  background: #AA0601;
  color: #fff;
}

@media (max-width: 992px) {
  .footer {
    padding-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 24px 0;
  }
  .footer .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer .footerMenuList {
    display: none;
  }
}

.footer .footerMenuList li {
  padding: 0 24px;
}

.footer .footerMenuList li:first-child {
  padding-left: 0;
}

.footer .footerMenuList a {
  color: #fff;
  display: block;
}

.footer .footerMenuList a:hover {
  color: yellow;
}

.footer .socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .socialList li {
  margin-right: 32px;
}

@media (max-width: 767px) {
  .footer .socialList li {
    margin-right: 24px;
  }
}

.footer .socialList li:last-child {
  margin-right: 0;
}

.footer .socialList a {
  display: block;
  color: #fff;
}

.footer .socialList a i {
  font-size: 48px;
}

.footer .socialList a i:hover {
  color: yellow;
}

@media (max-width: 992px) {
  .footer .socialList a i {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .footer .contactList {
    margin-bottom: 0;
  }
}

.footer .contactList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .footer .contactList li {
    font-size: 20px;
  }
  .footer .contactList li:first-child {
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .footer .contactList li:first-child {
    margin-bottom: 6px;
  }
}

@media (max-width: 992px) {
  .footer .contactList li:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .footer .contactList li:last-child {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .footer .contactList li {
    font-size: 16px;
  }
}

.footer .contactList li .contact-img {
  width: 36px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .footer .contactList li .contact-img {
    width: 24px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .footer .contactList li .contact-img {
    width: 16px;
  }
}

.footer .contactList a {
  display: block;
  color: #fff;
}

.footer .contactList a:hover {
  color: yellow;
}

.footer .copyrightList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  border-top: 1px solid #fff;
}

@media (max-width: 992px) {
  .footer .copyrightList {
    padding-top: 24px;
  }
}

@media (max-width: 767px) {
  .footer .copyrightList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
    padding-top: 16px;
  }
  .footer .copyrightList li {
    width: 100%;
  }
}

.footer .copyrightList .privacyList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .footer .copyrightList .privacyList {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer .copyrightList .privacyList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .copyrightList .privacyList li {
  margin-left: 48px;
}

@media (max-width: 992px) {
  .footer .copyrightList .privacyList li {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .footer .copyrightList .privacyList li {
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
  }
}

/* pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px;
  font-size: 18px;
}

@media (max-width: 992px) {
  .pagination {
    margin-bottom: 96px;
  }
}

@media (max-width: 767px) {
  .pagination {
    font-size: 16px;
    margin-bottom: 56px;
  }
}

.pagination a {
  display: block;
  padding: 12px 16px;
  color: #000;
  border: 1px solid #555555;
}

.pagination a:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 767px) {
  .pagination a {
    padding: 12px 14px;
  }
}

.pagination .page-active {
  background: #000;
  color: #fff;
}

.pagination .pre_page, .pagination .next_page {
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 767px) {
  .pagination .pre_page, .pagination .next_page {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.location-img {
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media (max-width: 992px) {
  .location-img {
    height: 164px;
  }
}

.location-content {
  border-left: 1px solid #00000020;
  border-right: 1px solid #00000020;
}

.location-content h3 {
  color: #000;
  padding: 12px 24px;
  border-bottom: 1px solid #00000020;
}

@media (max-width: 992px) {
  .location-content h3 {
    padding: 8px 24px;
    font-size: 16px;
  }
}

.location-contact {
  padding: 16px 24px;
  font-size: 20px;
}

@media (max-width: 992px) {
  .location-contact {
    font-size: 14px;
  }
}

.location-contact i {
  width: 18px;
  margin-right: 10px;
  font-size: 18px;
}

@media (max-width: 992px) {
  .location-contact i {
    width: 16px;
    font-size: 16px;
  }
}

.banner {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png") no-repeat;
  height: 100vh;
}

@media (max-width: 992px) {
  .banner {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 394px;
    background-position: center bottom;
  }
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media (max-width: 992px) {
  .banner-content span {
    font-size: 20px;
  }
  .banner-content h2 {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .banner-content span {
    font-size: 16px;
  }
  .banner-content h2 {
    font-size: 32px;
  }
}

.features {
  background: #FBF2F2;
}

.features .featureList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .featureList li {
  width: 25%;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .features .featureList li {
    width: 50%;
    padding: 0 36px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .features .featureList li {
    width: 100%;
    padding: 0 45px;
  }
}

.features .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .icon-img img {
  height: 83px;
  width: 83px;
}

@media (max-width: 992px) {
  .features {
    padding-top: 40px;
    padding-bottom: 16px;
    margin-bottom: 40px;
  }
  .features h3 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .features h4 {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .features {
    padding-top: 32px;
    padding-bottom: 0px;
    margin-bottom: 32px;
  }
  .features h3 {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

@media (max-width: 992px) {
  .classic {
    margin-bottom: 56px;
  }
  .classic h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .classic h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .classic {
    margin-bottom: 40px;
  }
}

.classic .classicList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .classic .classicList li {
    display: block;
    position: relative;
    margin-bottom: 8px;
  }
  .classic .classicList li .center-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.classic .classicList li .classic-img {
  width: 60%;
  margin-right: 32px;
}

@media (max-width: 992px) {
  .classic .classicList li .classic-img {
    width: 390px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .classic .classicList li .classic-img {
    width: 100%;
  }
}

.classic .classicList li h4 {
  color: #AA0601;
  font-style: italic;
}

.classic .classicList li h4 img {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .classic .classicList li h4 {
    font-size: 28px;
  }
}

.classic .classicList .classic-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.classic .classicList .classic-reverse .classic-img {
  margin-right: 0;
  margin-left: 30px;
}

@media (max-width: 992px) {
  .classic .classicList .classic-reverse .classic-img {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .classic .classicList .classic-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.joint {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png") no-repeat;
  background-position: 0 center;
}

@media (max-width: 992px) {
  .joint {
    padding-top: 40px;
    padding-bottom: 56px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .joint {
    padding-top: 32px;
    padding-bottom: 40px;
    margin-bottom: 32px;
  }
}

.joint h3 {
  color: #fff;
}

@media (max-width: 992px) {
  .joint h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .joint h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.joint .joinList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .joint .joinList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .joint .joinList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.joint .joinList li {
  width: 48%;
  position: relative;
}

@media (max-width: 992px) {
  .joint .joinList li:first-child {
    margin-right: 2%;
  }
}

@media (max-width: 767px) {
  .joint .joinList li {
    width: 100%;
    margin-bottom: 16px;
  }
  .joint .joinList li:first-child {
    margin-right: 0;
  }
}

.joint .joinList h4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .joint .joinList h4 {
    font-size: 32px;
    line-height: 25px;
  }
}

@media (max-width: 992px) {
  .recommand {
    margin-bottom: 24px;
  }
  .recommand h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .recommand h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.recommandList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .recommandList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recommandList li {
  width: 24%;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .recommandList li {
    width: 48%;
    margin-bottom: 32px;
  }
  .recommandList li:nth-child(odd) {
    margin-right: 2%;
  }
}

@media (max-width: 767px) {
  .recommandList li {
    width: 100%;
  }
  .recommandList li:nth-child(odd) {
    margin-right: 0px;
  }
}

.recommandList .recommand-img {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.recommandList .recommand-img img {
  width: 100%;
}

.recommandList .recommand-content {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 204px;
}

@media (max-width: 992px) {
  .recommandList .recommand-content {
    padding: 16px 24px;
  }
}

.recommandList .recommand-content span {
  display: block;
  font-size: 14px;
}

.recommandList .recommand-content .date {
  color: #707070;
  font-size: 14px;
}

.contact {
  background: #FBF2F2;
}

@media (max-width: 992px) {
  .contact {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.contact h3 {
  color: #000;
}

@media (max-width: 992px) {
  .contact h3 {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .contact h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.contact .contact-form {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .contact .contact-form {
    width: 100%;
  }
}

.contact .contact-form p {
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .contact .contact-form p {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .contact .contact-form p {
    margin-bottom: 8px;
  }
}

.contact form input, .contact form textarea {
  width: 100%;
  margin-top: 4px;
  background: #FBF2F2;
  padding: 14px 16px;
  border: 1px solid #000;
}

@media (max-width: 992px) {
  .contact form .form-group {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .contact form label {
    font-size: 14px;
  }
}

.contact form .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact form .form-check label {
  margin-left: 3px;
}

@media (max-width: 992px) {
  .contact form .form-check {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.contact form textarea {
  resize: none;
}

.contact form .checkbox {
  width: auto;
}

.contact form .submitBtn {
  background: #AA0601;
  color: #fff;
  padding: 16px 143px;
  border: none;
}

.contact form .submitBtn:hover {
  background: #650300;
  cursor: pointer;
}

@media (max-width: 992px) {
  .contact form .submitBtn {
    padding: 10px 77px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contact form .submitBtn {
    padding: 8px 56px;
  }
}

.productMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productMenuList li {
  width: 33.33%;
}

.productMenuList li:first-child {
  border-left: 1px solid #DCDCDC;
  margin-left: -1px;
}

.productMenuList .active {
  border-bottom: 8px solid #AA0601;
}

@media (max-width: 767px) {
  .productMenuList .active {
    border-bottom: 4px solid #AA0601;
  }
}

.productMenuList img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .productMenuList img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .productMenuList img {
    margin-right: 3px;
    width: 15px;
    height: 15px;
  }
}

.productMenuList a {
  display: block;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
  border-right: 1px solid #DCDCDC;
}

.productMenuList a:hover {
  border-bottom: 8px solid #AA0601;
}

@media (max-width: 767px) {
  .productMenuList a:hover {
    border-bottom: 4px solid #AA0601;
  }
}

@media (max-width: 992px) {
  .productMenuList a {
    padding-top: 14px;
    padding-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .productMenuList a {
    padding-top: 5px;
    padding-bottom: 1px;
  }
}

@media (max-width: 992px) {
  .productMenuList h3 {
    font-size: 24px;
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .productMenuList h3 {
    font-size: 14px;
    line-height: 1;
  }
}

.productBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .productBanner {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .productBanner {
    margin-bottom: 32px;
  }
}

.productBanner li {
  width: 50%;
  height: 304px;
}

@media (max-width: 767px) {
  .productBanner li {
    height: 148px;
  }
}

.productBanner li:first-child {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-1.png") no-repeat center center;
  background-size: cover;
}

.productBanner li:last-child {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-2.png") no-repeat center center;
  background-size: cover;
}

.products h2 {
  font-size: 42px;
}

@media (max-width: 992px) {
  .products h2 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .products h2 {
    font-size: 20px;
  }
}

.products h3 {
  color: #000;
}

@media (max-width: 992px) {
  .products h3 {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .products h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -8px;
}

.product > li {
  width: 24%;
  margin-bottom: 104px;
}

@media (max-width: 992px) {
  .product > li {
    width: 48%;
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .product > li {
    width: 100%;
    margin-bottom: 32px;
  }
}

.product .product-img {
  height: 164px;
  overflow: hidden;
}

.product .product-img img {
  width: 100%;
}

.product .product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

@media (max-width: 767px) {
  .product .product-content {
    font-size: 16px;
  }
}

.product .product-content span {
  color: #AA0601;
}

.product .colorList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}

@media (max-width: 767px) {
  .product .colorList {
    height: 16px;
  }
}

.product .colorList li {
  width: 24px;
  border-radius: 4px;
}

.product .colorList li:first-child {
  background: #5F3E2D;
  margin-right: 8px;
}

.product .colorList li:last-child {
  background: #B75929;
}

@media (max-width: 767px) {
  .product .colorList li {
    width: 16px;
  }
}

.sunglassesBanner li:first-child {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-3.png") no-repeat center center;
  background-size: cover;
}

.sunglassesBanner li:last-child {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2-color.png") no-repeat center center;
  background-size: cover;
}

.sunglasses {
  margin-bottom: 64px;
}

@media (max-width: 992px) {
  .sunglasses {
    margin-bottom: 0;
  }
}

.sunglasses .product > li {
  width: 31%;
}

@media (max-width: 992px) {
  .sunglasses .product > li {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .sunglasses .product > li {
    width: 100%;
  }
}

.sunglasses .product img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 15% 75%;
     object-position: 15% 75%;
}

.sunglasses .pagination-show {
  display: none;
}

@media (max-width: 992px) {
  .sunglasses .pagination-show {
    display: block;
  }
}

.location {
  padding-top: 96px;
}

@media (max-width: 992px) {
  .location {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .location {
    padding-top: 28px;
  }
}

.location h2 {
  border-left: 8px solid #9F1213;
  color: #000;
  padding-left: 16px;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .location h2 {
    font-size: 48px;
    border-left: 4px solid #9F1213;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .location h2 {
    font-size: 28px;
    padding-left: 8px;
    margin-bottom: 24px;
  }
}

.location .form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .location .form-select {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .location .form-select {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
}

.location .form-select label {
  font-size: 24px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .location .form-select label {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .location .form-select label {
    font-size: 14px;
    width: 20%;
    margin-right: 12px;
  }
}

.location .form-select select {
  padding: 8px 20px;
  width: 30%;
  font-size: 18px;
  color: #495057;
}

@media (max-width: 992px) {
  .location .form-select select {
    font-size: 16px;
    padding: 10px 16px;
    width: 35%;
  }
}

@media (max-width: 767px) {
  .location .form-select select {
    width: 80%;
    font-size: 14px;
    padding: 8px 16px;
  }
}

.locationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

@media (max-width: 992px) {
  .locationList {
    margin-bottom: 76px;
  }
}

@media (max-width: 767px) {
  .locationList {
    margin-bottom: 40px;
  }
}

.locationList > li {
  width: 31%;
  margin-bottom: 32px;
}

.locationList > li:last-child {
  margin-left: 3.5%;
  margin-right: auto;
}

@media (max-width: 992px) {
  .locationList > li {
    width: 48%;
    margin-bottom: 20px;
  }
  .locationList > li:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .locationList > li {
    width: 100%;
    margin-bottom: 16px;
  }
}

.locationList a {
  background: #000;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px 0;
}

.locationList a:hover {
  background: #650300;
}

@media (max-width: 992px) {
  .locationList a {
    font-size: 14px;
    padding: 16px 0;
  }
}

.blog {
  padding-top: 40px;
}

@media (max-width: 992px) {
  .blog {
    padding-top: 32px;
  }
}

@media (max-width: 767px) {
  .blog {
    padding-top: 28px;
  }
}

.blog h2 {
  border-left: 8px solid #9F1213;
  color: #000;
  padding-left: 16px;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .blog h2 {
    font-size: 48px;
    border-left: 4px solid #9F1213;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .blog h2 {
    font-size: 28px;
    padding-left: 8px;
    margin-bottom: 24px;
  }
}

.blogNav {
  background: #650300;
}

@media (max-width: 767px) {
  .blogNav {
    display: none;
  }
}

.blogMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogMenu .blogMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogMenu .blogMenuList li:first-child {
  margin-left: -24px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .blogMenu .blogMenuList li:first-child {
    margin-left: -16px;
  }
}

.blogMenu .blogMenuList a {
  display: block;
  color: #fff;
  padding: 12px 24px;
  font-size: 20px;
}

.blogMenu .blogMenuList a:hover {
  background: #AA0601;
}

@media (max-width: 992px) {
  .blogMenu .blogMenuList a {
    font-size: 16px;
    padding: 16px;
  }
}

.blogMenu i {
  font-size: 29px;
  color: #fff;
}

.blogMenu i:hover {
  color: yellow;
}

.blogList {
  margin-bottom: 96px;
}

@media (max-width: 992px) {
  .blogList {
    margin-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .blogList {
    margin-bottom: 40px;
  }
}

.blogList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .blogList li {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .blogList li {
    margin-bottom: 20px;
  }
}

.blogList .blog-img {
  height: 400px;
  width: 55%;
  overflow: hidden;
}

.blogList .blog-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (max-width: 992px) {
  .blogList .blog-img {
    height: 208px;
    width: 48%;
  }
}

@media (max-width: 767px) {
  .blogList .blog-img {
    height: 217px;
    width: 100%;
    margin-bottom: 8px;
  }
}

.blogList .blog-content {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .blogList .blog-content {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .blogList .blog-content {
    width: 100%;
  }
}

.blogList .blog-content > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .blogList .blog-content > span {
    display: none;
  }
}

.blogList .blog-content > span a {
  color: #650300;
  font-size: 36px;
  font-weight: bold;
}

.blogList .blog-content > span a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .blog-context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
}

.blog-context h3 {
  margin-bottom: 2px;
}

@media (max-width: 992px) {
  .blog-context h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .blog-context h3 {
    font-size: 16px;
  }
}

.blog-context > p {
  color: #555555;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 992px) {
  .blog-context > p {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 767px) {
  .blog-context > p {
    display: none;
  }
}

.blog-context > p span {
  display: none;
}

@media (max-width: 992px) {
  .blog-context > p span {
    display: inline;
  }
  .blog-context > p span a {
    color: #555555;
  }
  .blog-context > p span a:hover {
    text-decoration: underline;
  }
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .subtitle {
    margin-bottom: 0;
  }
}

.subtitle > p {
  font-size: 20px;
}

@media (max-width: 992px) {
  .subtitle > p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .subtitle > p {
    font-size: 14px;
  }
}

.subtitle .date {
  font-size: 16px;
}

@media (max-width: 992px) {
  .subtitle .date {
    font-size: 14px;
  }
}

.faq {
  padding-top: 96px;
}

@media (max-width: 992px) {
  .faq {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .faq {
    padding-top: 28px;
  }
}

.faq h2 {
  border-left: 8px solid #9F1213;
  color: #000;
  padding-left: 16px;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .faq h2 {
    font-size: 48px;
    border-left: 4px solid #9F1213;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .faq h2 {
    font-size: 28px;
    padding-left: 8px;
    margin-bottom: 24px;
  }
}

.faq h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 36px;
}

@media (max-width: 992px) {
  .faq h3 {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .faq h3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.faqList {
  margin-bottom: 160px;
}

@media (max-width: 992px) {
  .faqList {
    margin-bottom: 96px;
  }
  .faqList li {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .faqList {
    margin-bottom: 56px;
  }
  .faqList li {
    margin-bottom: 20px;
  }
}

.faqList h4 {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .faqList h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.faqList p {
  width: 85%;
  margin: 0 auto;
}

.faqList p span {
  display: block;
}

@media (max-width: 767px) {
  .faqList p span {
    display: inline;
  }
}

@media (max-width: 992px) {
  .faqList p {
    width: 92%;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .faqList p {
    width: 100%;
    margin-left: 0;
  }
  .faqList p:last-child {
    margin-top: 24px;
    font-size: 14px;
  }
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}

@media (max-width: 992px) {
  .store {
    margin-bottom: 96px;
  }
}

@media (max-width: 767px) {
  .store {
    margin-bottom: 56px;
  }
}

.store-content {
  width: 40%;
}

.store-content .location-content {
  border: 1px solid #00000020;
}

@media (max-width: 992px) {
  .store-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
  }
  .store-content .location-img {
    width: 48%;
  }
  .store-content .location-content {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .store-content {
    display: block;
    margin-bottom: 16px;
  }
  .store-content .location-img, .store-content .location-content {
    width: 100%;
  }
}

.store-img {
  width: 58%;
}

@media (max-width: 992px) {
  .store-img {
    width: 100%;
    height: 422px;
  }
}

@media (max-width: 767px) {
  .store-img {
    height: 211px;
  }
}

.store-img iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .article-menu {
    display: block;
  }
  .article-menu .blogMenuList {
    width: 1005px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article-menu .blogMenuList a {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 14px;
  }
  .article-menu .blogMenuList li:last-child {
    margin-right: -12px;
  }
  .article-menu a {
    display: none;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb li:first-child {
  margin-left: -8px;
}

.breadcrumb a {
  color: #000;
  margin: 0 8px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .breadcrumb a {
    font-size: 14px;
  }
}

.breadcrumb .active {
  color: #AA0601;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags li {
  margin-right: 16px;
  color: #AA0601;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .tags li {
    font-size: 16px;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  .tags li {
    font-size: 14px;
    margin-right: 4px;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 160px;
}

@media (max-width: 992px) {
  .article {
    margin-bottom: 96px;
  }
}

.article-content {
  width: 70%;
}

@media (max-width: 767px) {
  .article-content {
    width: 100%;
    margin-bottom: 30px;
  }
}

.article-content h2 {
  font-size: 48px;
}

@media (max-width: 992px) {
  .article-content h2 {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .article-content h2 {
    color: #650300;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.article-content .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .article-content .subtitle {
    margin-bottom: 20px;
  }
}

.article-content h3 {
  font-size: 28px;
}

@media (max-width: 992px) {
  .article-content h3 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .article-content h3 {
    font-size: 14px;
  }
}

.article-content > p {
  color: #6C6C6C;
}

@media (max-width: 992px) {
  .article-content > p {
    font-size: 14px;
  }
}

.article-content .articleList {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .article-content .articleList {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .article-content .articleList {
    margin-bottom: 20px;
  }
}

.article-content .articleList li {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .article-content .articleList li {
    margin-bottom: 24px;
  }
}

.article-content .articleList img {
  width: 100%;
}

@media (max-width: 992px) {
  .article-content .articleList img {
    margin-bottom: 16px;
  }
}

.article-content .articleList span {
  display: block;
}

@media (max-width: 767px) {
  .article-content .articleList span {
    display: inline;
  }
}

.article-content .articleList .conclusion {
  margin-top: 32px;
}

@media (max-width: 992px) {
  .article-content .articleList .conclusion {
    margin-top: 24px;
  }
}

.article-tags {
  width: 25%;
  color: #AA0601;
  font-weight: bold;
}

@media (max-width: 767px) {
  .article-tags {
    width: 100%;
  }
}

.article-tags h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .article-tags h2 {
    font-size: 20px;
  }
}

.article-tags h2 img {
  width: 48px;
}

@media (max-width: 992px) {
  .article-tags h2 img {
    width: 24px;
  }
}

.article-tags .tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article-tags .tagList li {
  font-size: 24px;
  margin-right: 24px;
}

@media (max-width: 992px) {
  .article-tags .tagList li {
    font-size: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .article-tags .tagList li {
    margin-right: 8px;
  }
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .share {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .share {
    padding-bottom: 16px;
    margin-bottom: 10px;
  }
}

.share > a {
  color: #000;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.share > a:hover {
  text-decoration: underline;
  color: #AA0601;
}

@media (max-width: 992px) {
  .share > a {
    margin-right: 16px;
    font-size: 16px;
  }
}

.share .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share .social a {
  color: #000;
  margin-right: 16px;
  display: block;
  height: 24px;
}

@media (max-width: 992px) {
  .share .social a {
    height: 20px;
  }
}

.share .social i {
  font-size: 24px;
  width: 24px;
}

@media (max-width: 992px) {
  .share .social i {
    font-size: 20px;
  }
}

.share .social i:hover {
  color: #AA0601;
}

.article-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .article-select {
    display: block;
  }
}

.article-select li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .article-select li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 6px;
  }
}

.article-select a {
  color: #000;
  margin: 0 8px;
}

@media (max-width: 992px) {
  .article-select a {
    margin: 0 4px;
  }
}

@media (max-width: 767px) {
  .article-select a {
    margin: 0;
  }
}

.article-select a:hover {
  text-decoration: underline;
}

.article-select i {
  font-size: 24px;
}
/*# sourceMappingURL=all.css.map */