.store{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $spacer*20;
  @include pad{
    margin-bottom: $spacer*12;
  }
  @include mobile{
    margin-bottom: $spacer*7;
  }
}

.store-content{
  width: 40%;
  @include pad{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer*4;
    border: 0;
    .card-img{
      width: 48%;
    }
    .card-body{
      border:1px solid #00000020;
      width: 48%;
    }
  }
  @include mobile{
    display: block;
    margin-bottom: $spacer*2;
    .card-img, .card-body{
      width: 100%;
    }
  }
}

.store-img{
  width: 58%;
  @include pad{
    width: 100%;
    height: 422px;
  }
  @include mobile{
    height: 211px;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
}